* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(123deg, #23c4e8, #2364e8);
    min-height: 100vh;
}

.quote-box {
    background: #fff;
    width: 400px;
    max-width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
    text-align: center;
}

.quote-box h1 {
    font-size: 28px;
    margin-bottom: 40px;
    position: relative;
}

.quote-box h1::after {
    content: '';
    width: 75px;
    height: 3px;
    border-radius: 3px;
    background: rgb(23, 124, 229);
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.quote-box blockquote {
    min-height: 110px;
    font-size: 22px;
    line-height: 1.5;
}

.quote-box blockquote::before,
.quote-box blockquote::after {
    content: '"';
}

.quote-box span {
    display: block;
    margin-top: 10px;
    float: right;
    position: relative;
}

.quote-box span::before {
    content: '';
    width: 20px;
    height: 2px;
    background: rgb(23, 124, 229);
    position: absolute;
    top: 50%;
    left: -30px;
}

.quote-box div {
    width: 100%;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.quote-box button {
    background: rgb(23, 124, 229);
    color: #fff;
    border-radius: 25px;
    border: none;
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}