*{   
    margin: 0;
    padding: 0;
}
.hero{
    min-height: 100vh;
    width: 100%;
    display: flex;
    font-size: larger;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg ,#5a24e4,#c4c620);
}
.hero h1 {
    color: #fff;

}
.hero h1 span{
    color: rgb(238, 179, 69);
}
textarea{
    width: 600px;
    height: 250px;
     color: #fff;
     border: none;
     background: #9590f1;
resize: none;
outline: none;
font-size: 15px;
margin-top: 30px;
margin-bottom: 20px;
     border-radius: 20px;
}
textarea::placeholder{
    font-size: 16px;
    color: #ddd;
}
.row{
    width: 600px;
    display: flex;
    align-items: center;
    gap: 20px;

}button{
    background: #ff2963;
    color: #fff;
    font-size: 16px;
    padding: 10px 30px;
    border: 0;
    border-radius: 35px;
    outline: 0;
    cursor: pointer;

}
select{
flex: 1;
    color: #1e0202;
    background: #b2aed6;
    height: 40px;
      /* font-size: 16px; */
    padding: 0 20px;
    border: 0;
    border-radius: 35px;
    outline: 0;
    appearance: none;

    
}