* {
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#main {
    width: 400px;
    margin: 20px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 15px;
    background-color: rgb(192, 232, 232);
}

.password-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
    padding: 10px;
    border: 1px solid black;
    border-radius: 8px;
}

#copyBtn {
    padding: 5px 10px;
    border-radius: 8px;
}

#length {
    margin: 15px 0;
}

.container {
    display: grid;
    gap: 10px;
    margin: 15px 0;
}

#generateBtn {
    width: 100%;
    padding: 8px;
    border-radius: 8px;
}